/* Google Fonts */

@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);
@import url('https://fonts.googleapis.com/css?family=Montserrat|Muli|Quicksand|Raleway&display=swap');
html {
    position: relative;
    min-height: 100%;
    scroll-behavior: smooth;
}

.btn {
    border-radius: 50px;
}

.btn-discord {
    background-color: transparent;
    border: 1px solid black;
}

.btn-weez {
    background-color: transparent;
    border: 1px solid black;
}

.btn-weezmain {
    background-color: #c96c7e;
}

.btn-doc {
    background-color: transparent;
    border: 1px solid black;
}

.navbar {
    background-color: #EC407A;
    /*background-image: url("../img/bgportal.png");*/
    box-shadow: 1px 3px 1px #fc3f05;
    font-weight: 300;
}

.main {
    background-color: #F06292;
    /* background-image: url("../img/bgportal.png");*/
    position: relative;
    width: 100%;
    height: 100vh;
    color: #FCE4EC;
}

.main:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 200px;
    /*background-image: url("../img/bgportal.png");*/
    clip-path: polygon(100% 50%, 0 100%, 100% 100%);
}


/*Sección de soporte*/

.line-1 {
    position: relative;
    top: 50%;
    width: 24em;
    margin: 0 auto;
    border-right: 2px solid rgba(255, 255, 255, .75);
    font-size: 180%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);
}


/* Animation */

.anim-typewriter {
    animation: typewriter 3s steps(17) 1s 1 normal both, blinkTextCursor 500ms steps(17) infinite normal;
}

@keyframes typewriter {
    from {
        width: 0;
    }
    to {
        width: 8em;
    }
}

@keyframes blinkTextCursor {
    from {
        border-right-color: rgba(255, 255, 255, .75);
    }
    to {
        border-right-color: transparent;
    }
}

.soporte-titulo {
    position: relative;
    color: #FCE4EC;
}

.pt-100 {
    padding-top: 100px;
}

.pb-100 {
    padding-bottom: 100px;
}

.mb-100 {
    margin-bottom: 100px;
}

.soporte {
    /*background-image: url("../img/bgportal.png");*/
    background-color: #F06292;
    /*#ffa7ca*/
    color: #FCE4EC;
    /*box-shadow: 2px 10px 15px #262727;*/
    box-shadow: 2px 10px 15px #000000;
}

.soporte-contenedor {
    position: relative;
    text-align: center;
    margin-bottom: 50px;
    -webkit-transition: .3s;
    transition: .3s;
    padding: 30px 20px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.50)
}

.soporte-material {
    background-color: #EC407A;
    border-radius: 5px;
}

.soporte-contenedor:before {
    position: absolute;
    width: 0;
    height: 0;
    background-color: #c96c7e;
    left: 0;
    top: 0;
    content: "";
    -webkit-transition: .3s;
    transition: .3s
}

.soporte-contenedor:after {
    position: absolute;
    width: 0;
    height: 0;
    background-color: #c96c7e;
    right: 0;
    bottom: 0;
    content: "";
    -webkit-transition: .3s;
    transition: .3s
}

.soporte-contenedor:hover:after,
.soporte-contenedor:hover:before {
    width: 50%;
    height: 2px;
    -webkit-transition: .3s;
    transition: .3s
}

.soporte-contenedor:hover {
    box-shadow: 1px 3px 10px 0 rgba(0, 0, 0, 0.10)
}

.soporte-contenedor h4 {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 15px;
    text-transform: capitalize;
}

.soporte-contenedor p {
    font-size: 15px;
    line-height: 1.8;
}


/*Sección Soporte*/


/*Sección TEAM*/

.team-titulo {
    position: relative;
}

.color-team {
    color: #FCE4EC;
}

.pt-100 {
    padding-top: 100px;
}

.pb-100 {
    padding-bottom: 100px;
}

.mb-100 {
    margin-bottom: 100px;
}

.team {
    background-color: #F06292;
    /*background-image: url("../img/bgportal.png");*/
    color: #ffa7ca;
    box-shadow: 2px 10px 15px #000000;
}

.team-contenedor {
    position: relative;
    text-align: center;
    margin-bottom: 50px;
    -webkit-transition: .3s;
    transition: .3s;
    padding: 30px 20px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.30)
}

.team-contenedor:before {
    position: absolute;
    width: 0;
    height: 0;
    background-color: rgb(0, 0, 0, 0.65);
    left: 0;
    top: 0;
    content: "";
    -webkit-transition: .3s;
    transition: .3s
}

.team-contenedor:after {
    position: absolute;
    width: 0;
    height: 0;
    background-color: rgb(0, 0, 0, 0.65);
    right: 0;
    bottom: 0;
    content: "";
    -webkit-transition: .3s;
    transition: .3s
}

.team-contenedor:hover:after,
.team-contenedor:hover:before {
    width: 50%;
    height: 2px;
    -webkit-transition: .3s;
    transition: .3s
}

.team-contenedor:hover {
    box-shadow: 1px 3px 10px 0 rgba(0, 0, 0, 0.10)
}

.team-contenedor h4 {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 15px;
    text-transform: capitalize;
}

.team-contenedor p {
    font-size: 15px;
    line-height: 1.8;
    color: rgba(0, 0, 0, 0.95);
}


/*Sección TEAM*/


/* Footer */

.page-footer {
    background-color: #F06292;
    padding: 0px;
}


/*Fotter*/